<h3>Select a User</h3>
<section>
  <form (change)="setUser(username)">
    <select [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      <option>Jim</option>
      <option>Sarah</option>
      <option>Carl</option>
    </select>
  </form>
  <button (click)="setUser(null); username = null;">Clear</button>
</section>
<section>
  <div *featureFlag="'a'">
    <h1>Feature Flag A</h1>
  </div>
  <div *featureFlag="'b'">
    <h1>Feature Flag B</h1>
  </div>
  <div *featureFlag="'c'">
    <h1>Feature Flag C</h1>
  </div>
  <div *featureFlag="['a', 'b', 'c']">
    <h1>Feature Flag A, or B, or C</h1>
  </div>
</section>

